<!DOCTYPE html>
<html lang="en"  >
	<head>
	<title> Document  </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 	
	<link rel="stylesheet" href="vendor/bootstrap.css">
	<link rel="stylesheet" href="vendor/angular-material.min.css">
	<link rel="stylesheet" href="vendor/font-awesome.css">
 	<link rel="stylesheet" href="1.css">
</head>
<body ng-app="myApp" ng-controller="MyController">
	
	<div class="container">
				<div class="jumbotron text-xs-center">
					<h1 class="display-3">Angular</h1>
					<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
					<hr class="m-y-md">
				</div>


				<div ng-repeat="motnguoi in nhieunguoi">
					<div class="card ksua" ng-show="!hienthi">
						<div class="card-header">
							<p>Thông tin của: <input type="text" class="form-control" ng-model="motnguoi.name"></p>
						</div>
	 					<div class="card-block">
	 						<b>Tuổi: </b><input type="text" class="form-control" ng-model="motnguoi.age"><br>
	 						<b>Facebook: </b><input type="text" class="form-control" ng-model="motnguoi.facebook"><br>
	 						<b>Sdt: </b><input type="text" class="form-control" ng-model="motnguoi.sdt"><br>
	 						<b class="float-xs-right btn btn-outline-danger btn-block" ng-click="editmode()">Lưu</b>
	 					</div>

	 				</div>

					<div class="card" ng-show="hienthi">
						<div class="card-header">
							<b class="float-xs-right">
								<i class="fa fa-pencil" ng-click="editmode()"></i>
							</b>
							<p>Thông tin của: {{motnguoi.name}}</p>
						</div>
	 					<div class="card-block">
	 						<b>Tuổi: </b><i>{{motnguoi.age}}</i><br>
	 						<b>Facebook: </b><i>{{motnguoi.facebook}}</i><br>
	 						<b>Sdt: </b><i>{{motnguoi.sdt}}</i>
	 					</div>
	 				</div>
	 			</div>	
	</div>
	 		



	<script type="text/javascript" src="vendor/bootstrap.js"></script>  
	<script type="text/javascript" src="vendor/angular-1.5.min.js"></script>  
  	<script type="text/javascript" src="vendor/angular-animate.min.js"></script>
  	<script type="text/javascript" src="vendor/angular-aria.min.js"></script>
 	<script type="text/javascript" src="vendor/angular-messages.min.js"></script>
 	<script type="text/javascript" src="vendor/angular-material.min.js"></script>  
  	<script type="text/javascript" src="1.js"></script>
</body>
</html>